html,
body,
ul,
li,
p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

html,
body,
#header,
#header .carousel,
#header .img-ct {
	height: 100%;
	width: 100%;
}

.carousel {
	position: relative;
	width: 310px;
	height: 206px;
	overflow: hidden;
}

#header .img-ct {
	position: absolute;
}

#header .img-ct:after {
	content: '';
	display: table;
	clear: both;
}

#header .item {
	position: relative;
	float: left;
	height: 100%;
}

#header .main {
	position: absolute;
	width: 600px;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}

#header .main p {
	font-size: 25px;
	font-family: "arial black";
	color:navajowhite;
}

#header .cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.8;
}

ul.bullet {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

ul.bullet li {
	width: 16px;
	height: 4px;
	border-radius: 2px;
	background: #fff;
	display: inline-block;
	cursor: pointer;
}

ul.bullet li.active {
	background: #666;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.yellow {
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	height: 90px;
	background: rgba(106,86,56,0.6);
	font-family: Lobster;
}

#f {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#h {
	float: right;
}

#h #c {
	display: block;
	color: #fff;
	text-align: center;
	padding: 30px 30px;
	font-size: 28px;
}

#h #c:hover {
	background-color: #8A6D3B;
	color: gold;
	font-style: bold;
	transform: scale(1.2);
}

.drop-down-content {
	list-style: none;
}

.drop-down {
	/*position: relative;*/
	height: 100px;
	overflow: hidden;
}

.drop-down-content {
	padding: 0;
	/*position: absolute;*/
	text-align: center;
	font-size: 35px;
}

.drop-down:hover {
	overflow: visible;
}


/*neeeeoooon*/
#light{
  text-align:center;
  margin:20px 0 20px 0; 
}

#light a{
  text-decoration:none; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
 	font-size: 60px; 
}

#light:nth-child(1) a{
  color:#FF1177;
  font-family: "blackadder itc";
}
#light:nth-child(1) a:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
}


/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FF1177,
               0 0 70px  #FF1177,
               0 0 80px  #FF1177,
               0 0 100px #FF1177,
               0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
  }
}

